*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.7;
    color: #777;
    background-color: whitesmoke;
    box-sizing: border-box;
}

header{
    background: radial-gradient(#fff, #ffd4d4) ;
}

.container{
    width: 80%;
    margin: auto;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar ul{
    list-style: none;
}

.navbar ul li{
    display: inline-block;
    padding: 15px;
}

.navbar ul li a{
    text-decoration: none;
    color: #555;
    font-size: 18px;
}

.header-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.header-text{
    flex-basis: 50%;
}

.header-text h1{
    font-size: 50px;
}

.header-text p{
    font-size: 18px;
    margin-bottom: 20px;
}

.btn{
    font-size: 18px;
    text-decoration: none;
    background-color:#ff523b ;
    padding: 20px 30px;
    color: whitesmoke;
    border-radius: 25px;
    transition: background 0.9s;
}

.btn:hover{
    background-color: #582020;

}

.header-image{
    flex-basis: 50%;
}

.header-image img{
    width: 100%;
}

